.fPage {
    height: 100vh;
  text-align: center;
  position: relative;
  background-color: #fff;
  padding: 0 20px;
  padding-top: 190px;

 .info {
    text-align: center;
    h1 {
        color: rgb(0, 0, 0);
        font-size: 36px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: -0.41px;
    }

     p {
        margin: 28px 0  ;
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 400;
        letter-spacing: -0.41px;
     }

     .form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 18px;
        border: 3px solid rgb(170, 170, 170);
        border-radius: 21px;
        background: rgb(255, 255, 255);
     }

     .button {
        border-radius: 10px;
        background: rgb(12, 142, 0);
        padding: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
     }
 }

     .bear {
        position: absolute;
        bottom: 40px;
        left: 182px;
    }

    .fox {
        position: absolute;
        bottom: -100px;
        right: 134px;
    }

    .ellipse {
        position: absolute;
        &:first-child {
            filter: blur(38.5px);
        background: #00d916;
        width: 205px;
        height: 205px;
        top: -123px;
        right: -122px;
        }

        &:nth-child(2) {
            background: #fff700;
            width: 187px;
            height: 187px;
            top: -115px;
            left: -133px;
             filter: blur(38.5px);
        }

        &:nth-child(3) {
            background: #fff700;
            width: 187px;
            height: 187px;
            bottom: 50px;
            right: -68px;
             filter: blur(38.5px);
        }

        &:nth-child(4) {
             background: #00d916;
            width: 205px;
            height: 205px;
            bottom: 120px;
            left: -68px;
             filter: blur(38.5px);
        }
    }
}

